.img-home{
    height: 350px;
    width: 480px;
    border-radius: 40px;
}

.mt-3{
    color:var(--bs-white);
}

table {
    border: 2px solid var(--bs-gray); 
    border-collapse: collapse; 
}
th, td {
    border: 1px solid var(--bs-gray);
    padding: 10px; 
    text-align: center;
}

thead {
    background-color:var(--bs-gray); 
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2; 
}
